.progressTrack {
  padding: 0.435rem !important;
}

.btn-text {
  text-decoration: "underline";
  font-size: "inherit";
  cursor: "pointer";
  line-height: "inherit";
}

.scrollable-contents::-webkit-scrollbar {
  width: 3px !important;
  height: 20px !important;
}

.scrollable-contents::-webkit-scrollbar-thumb {
  background-color: #cecece !important;
}

.primary-swal-button {
  background-color: #0d6efd;
}

.primary-swal-button:hover {
  background-color: #0b5ed7 !important;
}

.transparent-bg {
  background: transparent !important;
}

@media only screen and (max-width: 700px) {
  .label,
  .number {
    font-size: 1rem;
  }
}
